*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

h4{
    text-align: center;
    padding-bottom: 30px;
}